{% load static %}
<div class="fondo-lineas-wrapper">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" id="svgLineas">
        
        <g id="grupoIzquierdo">
            <line class="recta-izq r-izq-1" x1="0" y1="200" x2="400" y2="200" 
                    stroke="#8C51FE" stroke-width="60" stroke-linecap="square"/>

            <line class="recta-izq r-izq-2" x1="-100" y1="300" x2="800" y2="300" 
                    stroke="#00BF62" stroke-width="100" stroke-linecap="square"/>

            <line class="recta-izq r-izq-3" x1="-100" y1="400" x2="600" y2="400" 
                    stroke="#8C51FE" stroke-width="30" stroke-linecap="square"/>

            <line class="recta-izq r-izq-4" x1="-100" y1="500" x2="300" y2="500" 
                    stroke="#00BF62" stroke-width="60" stroke-linecap="square"/>
        </g>

        <g id="grupoDerecho">
            <line class="recta-der r-der-1" x1="1200" y1="600" x2="2000" y2="600"
                  stroke="#8C51FE" stroke-width="70" stroke-linecap="square"/>

            <line class="recta-der r-der-2" x1="900" y1="700" x2="2000" y2="700"
                  stroke="#00BF62" stroke-width="60" stroke-linecap="square"/>

            <line class="recta-der r-der-3" x1="1000" y1="800" x2="2000" y2="800"
                  stroke="#8C51FE" stroke-width="30" stroke-linecap="square"/>

            <line class="recta-der r-der-4" x1="2020" y1="900" x2="1620" y2="900"
                  stroke="#00BF62" stroke-width="80" stroke-linecap="square"/>
        </g>
        
    </svg>
</div>