# .gitignore

# Variables de entorno — NUNCA subir esto
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media/

# Virtual environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp